  <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-xs-center">
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
    <%= link_to 'Delete', [comment.post, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' },
                 class: "btn btn-secondary" %>
</div>
