<!-- <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-xs-center">
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div> -->
