<%= provide(:page_title, 'Edit Post') %>
<%= provide(:blog_active, 'active') %>

<div id="edit"></div>

<script>
  var PostsFormView = {
    post: {
      id: "<%= params[:id] %>"
    }
  }
</script>
